# Upload
RewriteCond %{REQUEST_URI} "^/api/up"
RewriteRule (.*) /upload.php [L]

# Auth
RewriteCond %{REQUEST_URI} "^/api/auth"
RewriteRule (.*) /auth.php [L]

# View
RewriteCond %{REQUEST_URI} "^/([a-zA-Z0-9]+)\.(jpe?g|png|gif|bmp)$"
RewriteRule (.*) "/view.php?image=$1" [L]